In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36'}
number = []
name = []
position = []
age = []
nation = []
team = []
value = []
for i in range(1,3):
  url = 'https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?page='+str(i)

  r = requests.get(url, headers = headers)

  soup = BeautifulSoup(r.text,'html.parser')

  player_info = soup.find_all('tr',class_ = ['odd','even']) 

  for info in player_info:
    players = info.find_all('td')
    number.append(players[0].text)
    name.append(players[3].text)
    position.append(players[4].text)
    age.append(players[5].text)
    nation.append(players[6].img['alt'])
    team.append(players[7].img['alt'])
    value.append(players[8].text)

  time.sleep(1)

tf= pd.DataFrame(
    { 'number' : number,
     'name' : name,
     'position' : position,
     'age' : age,
     'nation' : nation,
     'team' : team,
     'value' : value}
)

tf
#tf를 csv파일로 저장
tf.to_csv('transfermakt50.csv', index = False)

In [6]:
df = pd.read_csv('/content/transfermakt50.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    50 non-null     int64
 1   name      50 non-null     object
 2   position  50 non-null     object
 3   age       50 non-null     int64
 4   nation    50 non-null     object
 5   team      50 non-null     object
 6   value     50 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.9+ KB

In [9]:
df.shape

(50, 7)

In [11]:
df.columns

Index(['number', 'name', 'position', 'age', 'nation', 'team', 'value'], dtype='object')

In [18]:
df.head()
df.iloc[:5, :5]
df[:5]

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m
2,3,Vinícius Júnior,Left Winger,21,Brazil,Real Madrid,€100.00m
3,4,Phil Foden,Central Midfield,22,England,Manchester City,€90.00m
4,5,Mohamed Salah,Right Winger,30,Egypt,Liverpool FC,€90.00m

In [20]:
df['name']

0               Kylian Mbappé
1              Erling Haaland
2             Vinícius Júnior
3                  Phil Foden
4               Mohamed Salah
5                  Harry Kane
6              Dušan Vlahović
7             Bruno Fernandes
8             Kevin De Bruyne
9                       Pedri
10            Jude Bellingham
11                Declan Rice
12                      Rodri
13         Christopher Nkunku
14     Trent Alexander-Arnold
15             Bernardo Silva
16             Joshua Kimmich
17           Lautaro Martínez
18               Jadon Sancho
19                Mason Mount
20                 Rúben Dias
21              Heung-min Son
22                     Neymar
23              Florian Wirtz
24                 João Félix
25            Alphonso Davies
26          Federico Valverde
27                Rafael Leão
28           Matthijs de Ligt
29                Kai Havertz
30    Sergej Milinković-Savić
31             Nicolò Barella
32              Jack Grealish
33                 Sadio Mané
34                 Marquinhos
35            Raheem Sterling
36              Romelu Lukaku
37              Jamal Musiala
38                  Luis Díaz
39                Bukayo Saka
40             Victor Osimhen
41              Achraf Hakimi
42            Federico Chiesa
43           Andrew Robertson
44             Milan Skriniar
45               João Cancelo
46               Serge Gnabry
47              Leon Goretzka
48                       Gavi
49                Reece James
Name: name, dtype: object

In [25]:
df[['number','name','nation']].head()

   number             name   nation
0       1    Kylian Mbappé   France
1       2   Erling Haaland   Norway
2       3  Vinícius Júnior   Brazil
3       4       Phil Foden  England
4       5    Mohamed Salah    Egypt

In [26]:
df.loc[0,'name']

'Kylian Mbappé'

In [27]:
df.loc[0:4,['number','name','nation']]

   number             name   nation
0       1    Kylian Mbappé   France
1       2   Erling Haaland   Norway
2       3  Vinícius Júnior   Brazil
3       4       Phil Foden  England
4       5    Mohamed Salah    Egypt

In [31]:
df[df['age']<=20]

,number,name,position,age,nation,team,value
9,10,Pedri,Central Midfield,19,Spain,FC Barcelona,€80.00m
10,11,Jude Bellingham,Central Midfield,18,England,Borussia Dortmund,€80.00m
23,24,Florian Wirtz,Attacking Midfield,19,Germany,Bayer 04 Leverkusen,€70.00m
37,38,Jamal Musiala,Attacking Midfield,19,Germany,Bayern Munich,€65.00m
39,40,Bukayo Saka,Right Midfield,20,England,Arsenal FC,€65.00m
48,49,Gavi,Central Midfield,17,Spain,FC Barcelona,€60.00m

In [30]:
df[df['team']=='Tottenham Hotspur']

,number,name,position,age,nation,team,value
5,6,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,€90.00m
21,22,Heung-min Son,Left Winger,29,"Korea, South",Tottenham Hotspur,€75.00m

In [33]:
df.loc[['age']>=30,['name','value']]

TypeError: ignored